$primary-button-color: #ff6700;
$secondary-button-color: #ffffff;

$primary-button-hover-color: #c85100;
$secondary-button-hover-color: #fff6f0;

// --------------------------------------------

$primary-text-color: #252525;
$secondary-text-color: #ffffff;
$tertiary-text-color: #c85100;
