@import "/src/sass/Colors.scss";
@import "/src/sass/Mixins.scss";
@import "/src/sass/Variables.scss";
@import "/src/sass/BreakPoints.scss";

.header {
  max-width: 1924px;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;

  .header-wrapper {
    width: 1924px;
    height: 105px;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;

    .website-name {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-size-40px;
      color: $secondary-text-color;
      cursor: pointer;
    }

    .navigation {
      display: flex;
      justify-content: center;
      align-items: center;

      .navigation-list {
        display: flex;

        .navigation-item {
          margin-right: 40px;
          list-style-type: none;
          font-size: $font-size-25px;
          color: $secondary-text-color;
          cursor: pointer;
        }

        .navigation-item:hover {
          color: $tertiary-text-color;
          transition: $primary-transition;
        }
      }

      .user-logo-white {
        width: 26px;
        cursor: pointer;
      }
    }
  }

  .sign-in-modal {
    width: 267px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding: 10px;
    background-color: #ffffff;
    border-radius: $border-radius-10px;
    font-size: $font-size-24px;
    position: absolute;
    top: 66px;
    right: 100px;

    a {
      padding: 10px 20px;
      border-bottom: 1px solid #ff6700;
      cursor: pointer;
    }

    a:hover {
      background-color: #f6f6f6;
    }
  }
}
