@import "/src/sass/Colors.scss";
@import "/src/sass/Mixins.scss";
@import "/src/sass/Variables.scss";
@import "/src/sass/BreakPoints.scss";

.footer {
  max-width: 1924px;
  width: 100%;
  margin: 0 auto;
  padding: 0 45px;
  background-color: #eae9e9;
  color: #424244;

  .footer-wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 250px 250px 250px;

    @include md {
      grid-template-columns: 250px 157px;
    }

    @include sm {
      grid-template-columns: 250px;
      justify-content: center;
    }

    .socials {
      width: 282px;
      height: 297px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      h2 {
        font-size: $font-size-48px;
      }

      p {
        font-size: $font-size-24px;
      }

      span {
        font-size: $font-size-32px;
      }

      .socials-image {
        img {
          width: 50px;
          height: 50px;
          margin-right: 20px;
          cursor: pointer;
        }

        img:last-child {
          margin-right: 0;
        }
      }
    }

    .links {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      span {
        font-size: $font-size-32px;
      }

      a {
        font-size: $font-size-28px;
        text-decoration: none;
        color: $primary-text-color;
        cursor: pointer;
      }

      a:hover {
        color: $tertiary-text-color;
        transition: $primary-transition;
      }
    }

    .contact {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      @include md {
        margin-top: 20px;
      }

      h3 {
        font-size: $font-size-32px;
      }
      .email {
        font-size: $font-size-24px;
      }
      .phone-number {
        font-size: $font-size-24px;
      }
      .subscribe {
        font-size: $font-size-32px;
      }

      form {
        position: relative;

        input {
          padding: 13px 29px;
          background-color: transparent;
          border: 1px solid #424244;
          border-radius: $border-radius-10px;
        }

        img {
          width: 27px;
          height: 27px;
          position: absolute;
          top: 7px;
          right: 38px;
          cursor: pointer;
        }
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: $font-size-24px;
  }
}
