@import "/src/sass/Colors.scss";
@import "/src/sass/Mixins.scss";
@import "/src/sass/Variables.scss";
@import "/src/sass/BreakPoints.scss";

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $primary-text-color;

  .home-page-main-image {
    height: 800px;

    @include md {
      height: 250px;
    }

    @include sm {
      height: 125px;
    }

    img {
      max-width: 1924px;
      width: 100%;
      position: absolute;
      top: 6%;
      transform: translate(-50%, -66%);
      z-index: -1;

      @include md {
        max-width: 720px;
        top: 109px;
      }

      @include sm {
        top: 36px;
      }
    }
  }

  .home-page-main-text {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -66%);
    color: $secondary-text-color;
    text-align: center;

    @include md {
      top: 2%;
    }

    @include sm {
      top: 50px;
    }

    span {
      font-size: 40px;

      @include md {
        font-size: 24px;
      }

      @include sm {
        font-size: $font-size-16px;
      }
    }

    .home-page-country {
      margin: 10px 0;
      font-size: 64px;
      letter-spacing: 10px;

      @include md {
        font-size: 30px;
      }

      @include sm {
        font-size: $font-size-24px;
      }
    }

    .see-offer-button {
      @include primary-button-mixin;

      @include md {
        padding: 10px 30px;
        font-size: $font-size-20px;
      }

      @include sm {
        padding: 8px 20px;
        font-size: $font-size-16px;
      }
    }

    .see-offer-button:hover {
      background-color: $primary-button-hover-color;
    }
  }

  .services {
    max-width: 1580px;
    margin-bottom: 92px;
    padding: 0 40px;

    h2 {
      margin-bottom: 20px;
      font-size: $font-size-40px;

      @include md {
        font-size: 32px;
      }

      @include sm {
        font-size: 22px;
      }
    }

    p {
      margin-bottom: 10px;
      font-size: $font-size-20px;
      font-weight: bold;

      @include sm {
        font-size: 14px;
      }
    }

    .see-all-services {
      margin-bottom: 10px;
      font-size: $font-size-20px;
      color: $tertiary-text-color;
      cursor: pointer;

      span {
        display: flex;
        justify-content: flex-end;
      }

      span:hover {
        text-decoration: underline;
      }

      @include sm {
        display: none;
      }
    }

    .service-images-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;

      .service-item {
        height: 370px;

        img {
          width: 380px;
          height: 248px;
          margin-bottom: 10px;
          border-radius: $border-radius-20px;
          cursor: pointer;

          @include md {
            width: 100%;
            height: auto;
          }

          @include sm {
            width: 100%;
          }
        }

        h3 {
          margin-bottom: 10px;
          font-size: $font-size-32px;

          @include sm {
            font-size: $font-size-20px;
          }
        }

        p {
          font-size: $font-size-18px;

          @include sm {
            font-size: $font-size-16px;
          }
        }
      }
    }

    @media (max-width: 1596px) {
      .service-images-grid {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
      }
    }

    @media (max-width: 1212px) {
      .service-images-grid {
        grid-template-columns: 1fr 1fr;
      }
    }

    @media (max-width: 480px) {
      .service-images-grid {
        grid-template-columns: 1fr;
      }
    }

    @include md {
      width: 100%;
    }
  }

  .travel-video {
    max-width: 1580px;
    width: 100%;
    padding: 0 45px;
    margin-bottom: 60px;

    h2 {
      margin-bottom: 40px;
      font-size: $font-size-40px;

      @include md {
        margin-bottom: 15px;
        font-size: $font-size-22px;
      }
    }

    .video-settings {
      position: relative;

      video {
        width: 100%;
        border-radius: $border-radius-20px;
      }

      .start-video-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include md {
          width: 5%;
        }
      }
    }
  }

  .tour-offer-slider {
    max-width: 1580px;
    width: 100%;
    padding: 0 45px;
    margin-bottom: 60px;

    h2 {
      margin-bottom: 60px;
      font-size: $font-size-40px;

      @include md {
        margin-bottom: 15px;
        font-size: $font-size-22px;
      }
    }

    .slider-buttons {
      height: 45px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      @include md {
        display: none;
      }

      .slide-left-button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .slide-left-button:focus {
        border: 1px solid #000000;
      }

      .slide-right-button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        img {
          width: 40px;
          height: 40px;
        }
      }

      .slide-right-button:focus {
        border: 1px solid #000000;
      }
    }

    .slider-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;

      @include md {
        grid-template-columns: 1fr 1fr;
      }

      @include sm {
        grid-template-columns: 1fr;
      }

      .slider-item {
        height: 600px;

        @include md {
          height: auto;
          margin-bottom: 35px;
        }

        img {
          width: 100%;
          height: auto;
          margin-bottom: 10px;
          border-radius: $border-radius-20px;
          cursor: pointer;

          @include md {
            width: 100%;
            height: auto;
          }
        }

        h4 {
          margin-bottom: 10px;
          font-size: $font-size-32px;

          @include md {
            font-size: $font-size-20px;
          }
        }

        p {
          margin-bottom: 10px;
          font-size: $font-size-24px;

          @include md {
            font-size: $font-size-18px;
          }
        }

        span {
          font-size: $font-size-24px;

          @include md {
            font-size: $font-size-18px;
          }
        }
      }
    }
  }

  .blogs {
    max-width: 1580px;
    width: 100%;
    padding: 0 45px;

    @include md {
      width: auto;
      padding: 0 45px;
    }

    h2 {
      margin-bottom: 30px;
      font-size: $font-size-40px;

      @include md {
        font-size: $font-size-22px;
      }
    }

    .blog-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
      margin-bottom: 40px;

      @include md {
        grid-template-columns: 1fr 1fr;
      }

      @include sm {
        grid-template-columns: 1fr;
      }

      .blog-item {
        height: 390px;

        @include md {
          height: auto;
          margin-bottom: 20px;
        }

        img {
          width: 100%;
          height: auto;
          margin-bottom: 10px;
          border-radius: $border-radius-20px;

          @include md {
            width: 100%;
            height: auto;
          }
        }

        p {
          font-size: 32px;

          @include md {
            font-size: $font-size-20px;
          }
        }
      }
    }
  }

  .book-a-trip {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    background-color: #e0e0e0;

    .book-a-trip-wrapper {
      width: 100%;
      margin-bottom: 40px;
      padding: 0 45px;

      h2 {
        margin: 50px 0 40px;
        font-size: $font-size-40px;

        @include md {
          font-size: $font-size-22px;
        }
      }

      .select-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 80px;
        row-gap: 40px;
        margin-bottom: 40px;

        @include md {
          grid-template-columns: 1fr;
        }

        select {
          padding: 30px 50px;
          font-size: $font-size-28px;
          border-radius: $border-radius-20px;
          border: none;
          cursor: pointer;

          @include md {
            font-size: $font-size-20px;
          }
        }
      }

      .book-now-button {
        @include primary-button-mixin;
        width: 100%;
        font-size: $font-size-32px;

        @include md {
          font-size: $font-size-22px;
        }
      }

      .book-now-button:hover {
        background-color: $primary-button-hover-color;
      }
    }
  }
}
