@import "/src/sass/Colors.scss";
@import "/src/sass/Mixins.scss";
@import "/src/sass/Variables.scss";

.sign-in-page {
  display: flex;
  justify-content: center;
  padding: 126px 0 156px;

  .sign-in-container {
    width: 540px;
    padding: 50px 70px;
    position: relative;
    background-color: #ffffff;
    border-radius: $border-radius-10px;

    .email-input,
    .password-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        padding: 0 20px 10px;
        font-size: $font-size-16px;
        color: #424244;
        opacity: 0.7;
      }

      input {
        padding: 10px 10px 10px 20px;
        border: 1px solid #ff6700;
        border-radius: $border-radius-10px;
        font-size: $font-size-20px;
      }
    }

    .sign-in-button {
      @include primary-button-mixin;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: $border-radius-10px;
      font-size: $font-size-20px;
    }

    .divider-text {
      width: 170px;
      margin-bottom: 20px;
      font-size: 16px;
      color: #424244;
      background: white;
      z-index: 2;
      position: relative;
      left: 29%;
      display: flex;
      justify-content: center;
    }

    .upper-divider {
      width: 400px;
      height: 1px;
      position: absolute;
      bottom: 219px;
      left: 68px;
      opacity: 0.7;
      z-index: 0;
      background-color: #424244;
    }

    .sign-in-socials-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 40px;
      margin-bottom: 20px;

      .home-page-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #424244;
        cursor: pointer;
      }
    }

    .terms-of-service {
      width: 100%;
      padding-top: 20px;
      border-top: 1px solid #424244;
      text-align: center;
      font-size: $font-size-16px;
      color: #424244;
      opacity: 0.7;

      a {
        color: $tertiary-text-color;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
